<div class="row">
  <div class="col-12 col-sm-12">
    <div class="card border-success mb-3">
      <div class="card-header bg-transparent border-success">
        <h5 class="card-title text-center">List of Organizations</h5>
      </div>
      <div class="card-body text-success">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table table-hover table-bordered mydatatable"
          style="width: 100%"
        >
          <tfoot>
            <tr>
              <th *ngFor="let colHead of dtOptions.columns">
                {{ colHead.title }}
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div
        class="
          card-footer
          bg-transparent
          border-success
          text-primary text-center
        "
      >
        Developed By:
        <a href="mailto:luchacha.s@gmail.com"
          >Stephen Luchacha (luchacha.s@gmail.com)</a
        >
      </div>
    </div>
  </div>
</div>
